*{
    font-size: larger;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article{
    height: 230px;
    display: flex;
    gap: 10px;
}

.article1{
    width: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
}

.article2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text1{
    background-color: gray;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2{
    background-color: gray;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.main{
    height: 150px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}